body {
  font-size: 12px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.display, .content-texts, .bg-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-content {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  flex-direction: column;
}

.content {
  background-color: #fff;
  width: 86.5%;
  max-width: 360px;
  border-radius: 24px;
  position: relative;
}

.content::before {
  content: "";
  background: url(../../images/illustration-woman-online-mobile.svg) no-repeat;
  width: 268px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-55%, -55%);
}

.content::after {
  content: "";
  background: url(../../images/bg-pattern-mobile.svg) no-repeat;
  width: 268px;
  height: 180px;
  position: absolute;
  top: 6.5rem;
  left: 50%;
  transform: translate(-45%, -53%);
}

.content-texts {
  max-width: 500px;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-faq {
  margin-right: 260px;
}

.title {
  font-style: "Kumbh Sans", sans-serif;
  font-weight: bold;
}

.icon-arrow {
  width: 350px;
  flex-direction: column;
}

.paragraph {
  font-style: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
.paragraph:hover {
  color: hsl(14deg, 88%, 65%);
  cursor: pointer;
}

.paragraph-invisible {
  font-style: "Kumbh Sans", sans-serif;
  width: 280px;
  text-align: center;
}

.hr {
  width: 100%;
  height: 5px;
  margin: 0;
}

.active {
  font-weight: bold;
}

.links {
  color: hsl(240deg, 5%, 91%);
  text-decoration: none;
}

@keyframes boxHop {
  from {
    transform: translate(-55%, -55%);
  }
  50% {
    transform: translate(-55%, -57.5%);
  }
  to {
    transform: translate(-55%, -55%);
  }
}
/* MEDIA QUERIES */
@media screen and (min-width: 350px) {
  .content {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  .paragraph,
.paragraph-invisible {
    font-size: 13px;
  }
  .rodape {
    flex-direction: column;
  }
}
@media screen and (min-width: 650px) {
  .content {
    max-width: 500px;
    height: auto;
  }
  .content-texts {
    justify-content: space-evenly;
  }
  .paragraph,
.paragraph-invisible {
    font-size: 15px;
  }
  .rodape {
    flex-direction: row;
  }
}
@media screen and (min-width: 980px) {
  .content {
    height: 510px;
    max-width: 925px;
    display: flex;
    justify-content: flex-end;
    background: url(../../images/illustration-woman-online-desktop.svg) bottom 3.1rem left -5.1rem no-repeat, url(../../images/bg-pattern-desktop.svg) bottom -10rem left -36rem no-repeat;
    background-color: #fff;
  }
  .content::before {
    content: "";
    background: url(../../images/illustration-box-desktop.svg) no-repeat;
    width: 140px;
    height: 190px;
    position: absolute;
    top: 66%;
    left: -1.6%;
    transform: translate(-55%, -55%);
    animation: boxHop 2s ease-in-out;
    animation-iteration-count: infinite;
  }
  .content::after {
    display: none;
  }
  .content-texts {
    width: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
